<div
  [ngClass]="{'container': !selectablePokemon.isSelected, 'selectedContainer': selectablePokemon.isSelected}"
  (click)="onSelect()"
>
  <img
    ngClass="picture"
    src="{{selectablePokemon?.pokemon.frontDefault}}">
  <p>{{selectablePokemon?.pokemon.name}}</p>
  <p>Lvl : {{selectablePokemon?.pokemon.level}}</p>
  <p>HP : {{selectablePokemon?.pokemon.hp}}</p>
  <p>Speed : {{selectablePokemon?.pokemon.speed}}</p>
  <p>Attack : {{selectablePokemon?.pokemon.attack}}</p>
  <p>Defense : {{selectablePokemon?.pokemon.defense}}</p>
</div>
