<div class="body">
  <div class="container">
    <ng-template [ngIf]="isLoading">
      <div class="center-on-page">
        <div class="pokeball">
          <div class="pokeball__button"></div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="!isLoading">
      <div class="fightContainer">
        <p class="title">
          {{ title }}
        </p>
        <app-pokemon id="pokemon1" [pokemon]="pokemon2" [isMain]="true"></app-pokemon>
        <app-pokemon id="pokemon2" [pokemon]="pokemon1"></app-pokemon>

        <app-menu
          id="menu"
        ></app-menu>

      </div>
      <app-fight-logs></app-fight-logs>
    </ng-template>

  </div>
</div>
