.body {
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fightContainer {
  display: flex;
  background-image: url('https://pbs.twimg.com/media/DVMT-6OXcAE2rZY.jpg');
  background-repeat: no-repeat;
  margin-right: 20px;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
  flex: 2;
}

app-fight-logs {
  flex: 1;
}

.button {
  width: 100px;
  height: 100px;
}

#pokemon1 {
  margin-top: 200px;
}

#pokemon2 {
  margin-bottom: 200px;
}
