p {
  font-size: 12px;
}

#name {
  font-size: 14px;
  font-weight: bold;
}

#life {
  align-self: flex-end;
}

#caracteristicsContainer {
  width: 150px;
  border-radius: 10px;
  background-color: white; //rgb(219, 214, 203);
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  margin-top: -10px;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 200px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.attacked {
  width: 200px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  padding: 15px;
  display: flex;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  animation-duration: 1s;
  flex-direction: column;
}

.damagesReceived {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
  font-style: italic;
  align-self: center;
}

.invisible {
  opacity: 0;
}

.picture {
  width: 150px;
  height: 150px;
}

.looser-picture {
  width: 150px;
  height: 150px;
  filter: grayscale(100%);
}

.name-level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progressbarContainer {
  border: 1px solid black;
  border-radius: 12px;
}

.greenProgressBar {
  height: 24px;
  background-color: green;
  border-radius: 10px;
}

.yellowProgressBar {
  height: 24px;
  background-color: yellow;
  border-radius: 10px;
}

.redProgressBar {
  height: 24px;
  background-color: red;
  border-radius: 10px;
}
